{% extends "base.html" %}

{% block title %}{{ conf.sitename }} – Artikelübersicht{% endblock %}

{% block content %}
<article>
    <table id="arc">
    {% for year in env.globals.entrylist | archivesfor %}
        {% for month in year %}
            {% for entry in month.items %}
                <tr>
                    <th style="text-align: left">{{ entry.date.day ~ ' ' ~ month.full ~ ' ' ~  year ~ ' '}} </th>
                    <td>&nbsp;-&nbsp;</td>
                    <td style="text-align: left"><a href="{{ env.path + entry.permalink }}">{{ entry.title | e }}</a></td>
                </tr>
            {% endfor %}


        {% endfor %}
    {% endfor %}
    </table>
</article>
{% endblock %}
